<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.company.pocketmoney">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PocketMoney">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
        <activity android:name=".ChildActivity" />
        <activity android:name=".ChildMoneyActivity" />
        <activity android:name=".ChildMoneyPlusActivity" />
        <activity android:name=".ChildRewardActivity" />
        <activity android:name=".ChildSetActivity" />
        <activity android:name=".ChildSetPlusActivity" />
        <activity android:name=".GraphActivity" />
        <activity android:name=".ParentActivity" />
        <activity android:name=".ParentMoneyActivity" />
        <activity android:name=".ParentSetActivity" />
        <activity android:name=".ParentRewardActivity" />

    </application>

</manifest>